#st-sportlist-az .letter-keys {
  background-color: #b1c3d2;
  font-weight: 600;
  margin: 1em 0;
  padding: 0.5em;
}

#st-sportlist-az {
  width: 100%;
  position: absolute;
}

#st-sportlist-az a {
  display: inline-block;
  padding: 0.3sem 0;
  text-decoration: none;
}

.heading-darkblue {
  color: var(--text-color);
}

#st-sportlist-az .sports-list a {
  font-weight: 500;
  font-size: 1em;
  padding: 0.5em 0;
  color: inherit;
}

/* .search-bar input {
  width: 84.1%;
  font-size: inherit;
  color: #153e60;
  margin-top: 1em;
  border: 1px solid #153e60;
  padding: 0.5em;
}

.search-bar button {
  font-size: inherit;
  color: #153e60;
  margin-top: 1em;
  border: 1px solid #153e60;
  padding: 0.5em;
} */

.filter-bar {
  margin-top: 1em;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #afbdc9;
}

.filter-bar li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter-bar li:last-of-type span {
  display: flex;
  justify-content: space-around;
  border-bottom: 2px solid #afbdc9;
  padding: 0.75em;
}
.filter-bar li:last-of-type span:hover {
  background-color: #afbdc9;
  border-color: #153e60;
}

.filter-bar .selected {
  background-color: #afbdc9;
  border-bottom: 2px solid black;
}

.filter-bar li:last-of-type a {
  padding: 0 0.75em;
  /* background-color: blue; */
}

#sports-events a {
  display: block;
  margin: 0;
}

#sports-events a {
  display: block;
  margin: 0;
}

#sports-events a:first-of-type {
  margin-bottom: 0.5em;
}

#sports-events div {
  bottom: 7em;
  position: absolute;
}

#sports-events {
  margin-bottom: 10em;
}

#st-sportslist-clubs article {
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid #afbdc9;
}

#st-sportslist-clubs article div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#st-sportslist-clubs h4 {
  font-weight: 600;
}

#st-sportslist-clubs .clubs-tag {
  display: inline;
  padding: 0.5em 2em;
  border-radius: 10em;
  background-color: var(--secondary-color);
  margin-left: 0.3em !important;
  display: inline-block;
}

#st-sportslist-clubs .website {
  text-decoration: underline;
  font-weight: 600;
  display: inline;
  color: var(--text-color);
}

#st-sportslist-clubs .website:hover {
  text-decoration: underline;
  background-color: #afbdc9;
}

#st-sportslist-clubs p {
  margin: 0.6em 0;
}

#st-sportslist-clubs p:first-of-type {
  margin: 0.3em 0;
}

/* h3 {
  text-align: center;
} */
