<footer class="display-flex-v">
  <div class="display-flex-h">
    <h4><a href="#">About us</a></h4>
    <h4><a href="#">FAQ</a></h4>
    <h4><a href="#">Privacy & Cookies</a></h4>
    <h4><a href="#">Contact</a></h4>
    <h4><a href="#">Provider</a></h4>
  </div>
</footer>

<script src="/js/script.js" type="module"></script>
</body>
</html>
