<footer class="footer">
    
    <img src="/images/gemeente-amsterdam.svg" alt="">
    <p>Ontwikkelt door CMD studenten</p>
    <a href="https://github.com/RobinStut/meesterproef">Ontwikkelt door CMD studenten</a>
    
</footer>

<script src="/js/script.js" type="module"></script>
</body>

</html>