<aside class="display--flex-v sidebar">
	<ul class="sidebar__list">
		<li><a href="/">Home</a></li>
		<li><a href="/sportslist">Sports Activiteiten A-Z</a></li>
		<li><a href="/events">Evenementen</a></li>
	</ul>

	<div class="sidebar__collection--grid">
		<ul class="sidebar__collection__list--small">
			<li>English</li>
			<li>Nederlands</li>
		</ul>

		<a class="sidebar__collection__link" href="/login">Login/Register</a>
	</div>
</aside>
