<aside class="display-flex-v">
	<ul>
		<li><a href="/">Home</a></li>
		<li><a href="/sportslist">Sports Activiteiten A-Z</a></li>
		<li><a href="/events">Activiteiten</a></li>
	</ul>

	<div>
		<ul>
			<li>English</li>
			<li>Nederlands</li>
		</ul>

		<a href="/login">Login/Register</a>
	</div>
</aside>
