<aside class="display--flex-v sidebar">
  <ul class="sidebar__list">
    <li><a href="/">Home</a></li>
    <li><a href="/sportslist">Sport Activiteiten A-Z</a></li>
    <li><a href="/events">Evenementen</a></li>
  </ul>

  <a class="sidebar__collection__link" href="/login">Login/Register</a>
</aside>
