<header class="display--flex-h header">
	<a href="/">
		<svg
			id="bbb824ba-5598-4c85-a1b6-d0983b9a7781"
			class="header__logo header__logo__svg"
			data-name="Layer 1"
			xmlns="http://www.w3.org/2000/svg"
			viewBox="0 0 2500 735"
		>
			<defs>
				<style>
					.a7a2a367-2ac2-4252-9aa9-a4bc92e07ffb {
						fill: #fff;
					}
				</style>
			</defs>
			<title>amsterdam-xxx</title>
			<path
				class="a7a2a367-2ac2-4252-9aa9-a4bc92e07ffb"
				d="M2353,735,2132.5,514.6,1912.1,735l-147-147,220.5-220.5L1765.1,147l147-147,220.5,220.5L2353,.1l147,147L2279.5,367.6,2500,588Zm-1765.1-.1L367.4,514.4,147,734.9,0,588,220.5,367.5,0,147,147,0,367.4,220.5,587.9,0l147,147L514.4,367.5,734.9,587.9Zm883.3,0L1250.7,514.4,1030.3,734.9l-147-147,220.5-220.5L883.3,147l147-147,220.5,220.5L1471.2,0l147,147L1397.7,367.5,1618.2,588Z"
			/>
		</svg>
	</a>

	<button type="button" class="header__hamburger">
		<svg
			aria-hidden="true"
			focusable="false"
			data-prefix="fas"
			data-icon="bars"
			class="svg-inline--fa fa-bars fa-w-14"
			role="img"
			xmlns="http://www.w3.org/2000/svg"
			viewBox="0 0 448 512"
		>
			<path
				fill="currentColor"
				d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z"
			></path>
		</svg>
	</button>
</header>

<% include ./nav-sidebar %>
