<header class="display-flex-h">
  <div>
    <button type="button" name="button">Menu</button>
  </div>

  <img src="" alt="Logo">

  <input type="text" name="main-search-field" placeholder="Search...">

  <select class="" name="">
    <option value="Nederlands">Nederlands</option>
    <option value="Engels">English</option>
  </select>

  <div class="display-flex-h">
    <a href="/register">Register</a>
    <a href="/login">Login</a>
  </div>
</header>
