<header class="display-flex-h">
  <button type="button" name="button">Menu</button>

  <img src="" alt="Logo">

  <input type="text" name="main-search-field" placeholder="Search...">

  <div class="display-flex-h">
    <a href="/register">Register</a>
    <a href="/login">Login</a>
  </div>
</header>
