<input id="pop-up-toggle" class="visuallyhidden" type="checkbox" />

<div class="pop-up">
  <label for="pop-up-toggle"></label>
  <aside class="pop-up-content interactive-cards">
    <article class="card">
      <h2>Event 1</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis
        voluptatem tempore veritatis nesciunt eligendi nihil? Est exercitationem
        eum aut in molestiae, ipsam, fuga quae ipsa, beatae at aperiam alias
        earum.
      </p>
      <small>More data</small>
    </article>
    <article class="card">
      <h2>Event 2</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis
        voluptatem tempore veritatis nesciunt eligendi nihil? Est exercitationem
        eum aut in molestiae, ipsam, fuga quae ipsa, beatae at aperiam alias
        earum.
      </p>
      <small>More data</small>
    </article>
    <article class="card">
      <h2>Event 3</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis
        voluptatem tempore veritatis nesciunt eligendi nihil? Est exercitationem
        eum aut in molestiae, ipsam, fuga quae ipsa, beatae at aperiam alias
        earum.
      </p>
      <small>More data</small>
    </article>
  </aside>
</div>

<label class="floating-action" for="pop-up-toggle">Pop up</label>
