<form id="quizForm">

    <input type="checkbox" id="1" name="quizInput">
    <label for="1">

        <h3> 1</h3>

    </label>

    <input type="checkbox" id="2" name="quizInput">
    <label for="2">

        <h3> 2</h3>

    </label>


    <button id="quizSubmit">Keus bevestigen</button>
</form>