* {
	position: relative;
	margin: 0;
	padding: 0;
	font-family: "Roboto", sans-serif;
	box-sizing: border-box;
}

h1 {
	display: none;
}

p {
	color: var(--text-color);
	font-size: var(--font-size-15px);
	font-weight: 400;
}

a {
	text-decoration: none;
	color: inherit;
}

ul {
	list-style: none;
}

li {
	color: var(--text-color);
	font-size: var(--font-size-15px);
	font-weight: 300;
}

label {
	margin: 1em 0 0.5em 0;
	font-size: var(--font-size-18px);
}

input[type="text"],
textarea {
	padding: 1em;
	border: 1px solid var(--grey);
	border-radius: 10px;
	box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
}

input[type="text"] {
	height: 3em;
}

textarea {
	height: 5em;
}

fieldset {
	border: none;
	margin: 1em 0 0.5em;
}

fieldset label {
	font-size: var(--font-size-15px);
}

fieldset legend {
	margin: 0 0 0.5em 0;
}

.display--flex-h {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.display--flex-v {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.section {
	padding: 1.5em 1em;
	background-color: var(--white);
}

.section--radius::before {
	position: absolute;
	content: "";
	width: 100%;
	height: 15px;
	top: -14px;
	left: 0;
	background-color: var(--white);
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
	z-index: 1;
}

.section--padding-0 {
	padding-left: 0;
	padding-right: 0;
}

.section__h3--heading {
	margin-bottom: 1.5em;
	color: var(--text-color);
	font-size: var(--font-size-18px);
	font-weight: 600;
	text-transform: uppercase;
	text-align: center;
}

.article {
	margin: 1em 0;
}

.article:first-of-type {
	margin-top: 0;
}

.article:last-of-type {
	margin-bottom: 2em;
}

.article__p {
	margin-bottom: 1em;
	padding-left: 1em;
}

.article__img {
	width: 100%;
}

.article__button {
	display: initial !important;
	position: relative;
	top: -1.5em;
	left: 1em;
}

.article__list {
	padding-left: 1em;
}

.button {
	display: block;
	margin: 0 auto;
	padding: 1em 2em;
	width: fit-content;
	color: var(--text-color);
	font-size: var(--font-size-16px);
	font-weight: 600;
	text-align: center;
	text-decoration: none;
	border-radius: 25px;
	transition: 0.2s;
}

.button--solid {
	background-color: var(--white);
}

.button--solid-yellow {
	background-color: var(--secondary-color);
}

.button--solid-white {
	background-color: var(--white);
}

.button--ghost {
	background-color: var(--white);
	border: 1px solid var(--text-color);
	box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2);
}

.button--small {
	padding: 0.5em 2em;
}

.st-text-color {
	color: var(--text-color);
}

.st-show {
	left: 0 !important;
}

.st-overflow-hidden {
	overflow: hidden;
}

.label-required::before {
	content: "*";
	margin: 0 0.2em 0 0;
	color: red;
}

.smooth-return {
	transition: all 0.2s ease;
}
