/* ---------- FONTS ---------- */
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap');

/* ---------- COLORS ---------- */
:root {
  ---white: #ffffff;
  ---black: #000000;
  ---light-grey: #efefef;
  ---dark-grey: #d5d5d5;
  ---text-black: #2d2d2d;
}

/* ---------- GENERAL ---------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, a {
  font-family: sans-serif;
}

h1 {
  display: none;
}

h2 {
  text-transform: uppercase;
  color: var(---text-black);
}

p {
  color: var(---text-black);
  font-weight: 300;
}

main {
  padding: 0 5em;
  height: 100vh;
}

main section {
  margin: 1em auto;
  padding: 1em 0;
  height: 50vh;
}

main section:last-of-type {
  border-bottom: 0;
}

main section h2 + p {
  margin: 1em 0 auto 0;
}

.display-flex-h {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.display-flex-v {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.st-divider {
  margin: 0 auto;
  width: 100%;
  height: 1px;
  background-color: var(---black);
}

.st-a-button {
  margin: auto 0;
  padding: 1em 2em;
  width: fit-content;
  color: var(---black);
  text-decoration: none;
  background-color: var(---light-grey);
  border-radius: 25px;
  transition: 0.2s;
}

.st-a-button:hover {
  background-color: var(---dark-grey);
}

/* ---------- HEADER ---------- */
header {
  width: 100%;
  height: 10vh;
  background-color: var(---dark-grey);
}

header div{
  padding: 1rem;
  height: 100%;
}

header img {
  margin: 0 auto;
}

header input {
  margin: 0 2rem 0 0;
}

header div:last-of-type {
  margin: 0 0 0 2rem;
}

header div:last-of-type a:last-of-type{
  margin: 0 0 0 1rem;
}

/* ---------- HERO ---------- */
#st-homepage-hero {
  justify-content: center;
  margin-top: 0;
  width: 100%;
  height: 70vh;
  text-align: center;
  background-color: var(---light-grey);
  border: none;
}

/* ---------- QUIZ ---------- */


/* ---------- COMMUNITY ---------- */
#st-homepage-community div {
  margin: 0 0 auto 0;
}

#st-homepage-community div article {
  padding: 1em;
  margin: 0 1em;
  height: fit-content;
  border: 1px solid var(---black);
  border-radius: 20px;
}

#st-homepage-community div article:first-of-type {
  margin-left: 0;
}

#st-homepage-community div article:last-of-type {
  margin-right: 0;
}

#st-homepage-community div article h3{
  margin: 0 0 0.5em 0;
}

#st-homepage-community div article p{
  font-size: 0.9em;
}
