.sidebar {
	position: fixed;
	padding: 4em 1em 1em 1em;
	height: 100%;
	width: 100vw;
	top: 0;
	left: -100vw;
	background-color: var(--white);
	transition: 0.3s ease-in-out;
	z-index: 2;
}

.sidebar__list {
  line-height: 2.5em;
}

.sidebar__list li a {
  color: var(--text-color);
  font-size: var(--font-size-18px);
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
}

.sidebar__collection__link {
  margin-top: auto;
}

.sidebar--show {
  left: 0 !important;
}
@media (min-width: 768px) {
  .sidebar {
    padding: 4em 10em;
  }
}

@media (min-width: 1280px) {
  .sidebar {
    padding: 4em 25em;
  }
}
