.footer {
	padding: 2em 1em;
	width: 100%;
	background-color: var(--text-color);
	text-align: center;
}

.footer a {
	display: block;
	color: white;
	font-size: var(--font-size-14px);
}

.footer img {
	margin-bottom: 1.5em;
	max-width: 60%;
}

.footer__block {
	margin: 0 auto;
	width: fit-content;
}

@media (min-width: 768px) {
  .footer {
    padding: 1em 10em;
  }
}

@media (min-width: 1280px) {
  .footer {
    padding: 1em 25em;
  }
}
