<% include ../../partials/header %>

<h1>Sportstimulering</h1>

<% include ../../partials/nav %> <% include ../../partials/hero %>

<main>
	<section class="display-flex-v section section--radius section--minHeight">
		<h3 class="section__h3--heading">Login/Register</h3>
		<a href="/sportprovider" class="button button--ghost"
			>Login in als sport provider</a
		>
	</section>
</main>

<% include ../../partials/footer %>
