<% include ../../partials/header %>

<h1>Sportstimulering</h1>

<% include ../../partials/nav %> <% include ../../partials/hero %>

<main>
	<section class="display-flex-v section section--radius section--minHeight">
		<h3 class="section__h3--heading">Welkom</h3>
		<p class="section__p--center">Kies je actie:</p>

		<a href="/create-event" class="button button--ghost">Creeër Event</a>
	</section>
</main>

<% include ../../partials/footer %>
