<% include ../../partials/header %>

<h1>Sportstimulering</h1>

<% include ../../partials/nav %> <% include ../../partials/hero %>

<main>
	<section id="st-login" class="display-flex-v st-section-radius">
		<h3>Login/Register</h3>
		<a href="/sportprovider">Sign in as a Sportprovider</a>
	</section>
</main>

<% include ../../partials/footer %>
