<% include ../../partials/header %>

<h1>Sportstimulering</h1>

<% include ../../partials/nav %> <% include ../../partials/hero %>

<main>
	<section
		id="st-sportprovider-dashboard"
		class="display-flex-v st-section-radius"
	>
		<h3>Welkom</h3>
		<p>Kies je actie:</p>

		<a href="/create-event" class="st-button st-button-border">Creeër Event</a>
	</section>
</main>

<% include ../../partials/footer %>
