<% include ../../partials/header %>

<h1>Sportstimulering</h1>

<% include ../../partials/nav %> <% include ../../partials/hero %>

<main>
	<section class="display-flex-v section section--radius section--minHeight">
		<form action="/dashboard" class="display--flex-v form">
			<label for="login-username" class="form__label form__label--required"
				>Username</label
			>
			<input
				id="login-username"
				name="login-username"
				class="form__inputText"
				type="text"
				required
			/>

			<label
				for="login-password"
				class="form__label form__label--topMargin form__label--required"
				>Password</label
			>
			<input
				id="login-password"
				class="form__inputText"
				type="password"
				required
			/>

			<button
				class="button button--ghost button--topBottomMargin"
				type="submit"
			>
				Login
			</button>
		</form>
	</section>
</main>

<% include ../../partials/footer %>
