<% include ../../partials/header %>

<h1>Sportstimulering</h1>

<% include ../../partials/nav %> <% include ../../partials/hero %>

<main>
	<section
		id="st-sportprovider-dashboard"
		class="display-flex-v st-section-radius"
	>
		<h3>Welcome</h3>
		<p>Choose your action:</p>

		<div>
			<a href="/create-event" class="st-button st-button-border"
				>Create Event</a
			>
		</div>
	</section>
</main>

<% include ../../partials/footer %>
