.quote {
	margin: 1em 0;
	height: fit-content;
}

.quote:first-of-type {
	margin-top: 0;
}

.quote:last-of-type {
	margin-bottom: 0;
}

.quote__img {
	margin: 0 1em 0 0;
}

.quote__block p:before {
	position: absolute;
	top: 0em;
	left: 0;
	content: open-quote;
	color: #153e60;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: var(--font-size-50px);
	opacity: 0.3;
}

.quote__block p:after {
	position: absolute;
	right: 0;
	content: close-quote;
	color: #153e60;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: var(--font-size-50px);
	opacity: 0.3;
}

.quote__block__name {
	margin-bottom: 0.5em;
}
