/* begin of Quiz styling */
.header__cross svg {
  color: var(--text-color);
}

.header {
}
/* p {
  color: var(--text-color);
} */

#quizForm {
  min-height: 600px;
}

#quizForm .showFormElement {
  display: block;
  height: fit-content;
  position: relative;
}

.dragInput {
  height: 40px;
  width: 150px;
  background-color: lightgray;
  margin: 0.3rem;
}

.showFormElement {
  height: 350px;
}

#quizForm .showFormElement#howOldAreYou {
  display: grid;
}

#quizForm .showFormElement#whichGender {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr 1fr;
}

#whichGender svg {
  width: 100px;
  margin: 0 auto;
}

#whichGender label {
  display: grid;
  text-align: center;
}

#whichGender input {
  margin: 0 auto;
}

#whichGender h3 {
  grid-column-end: 4;
  grid-column-start: 1;
}

#whichGender label {
  border: 2px solid var(--text-color);
  border-radius: 0.5em;
  padding: 1em;
  margin: 1em;
  padding-top: 3em;
}

#whichGender p {
  height: 1em;
}

.section-4 p {
  background-color: #b1c3d2;
  width: fit-content;
  padding: 0.5em;
  border-radius: 0.1em;
  margin: 0 auto;
  color: var(--text-color);
}

.section-4 h3 {
  margin-top: 4em;
}
/* end of Quiz styling */

/* Custom sliders CSS */

.visuallyhidden {
  position: absolute;
  right: 100%;
  opacity: 0;
  z-index: -1;
}

.slider-container {
  --slider-transition: all 0.05s linear;
  height: 100px;
  width: 100%;
  border: solid 1px black;
  display: flex;
  align-items: center;
  padding: 1em;
}

.slider-track {
  height: 10px;
  width: 100%;
  background: #b1c3d2;
  position: relative;
  border-radius: 50px;
}

.slider-trail {
  background: var(--text-color);
  border-radius: inherit;
  height: inherit;
  transition: var(--slider-transition);
}

.slider-pin {
  height: 30px;
  width: 30px;
  background: blue;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  border-radius: 100%;
  transition: var(--slider-transition);
}

.slider-pin:hover {
  cursor: pointer;
}

#howOldAreYou label {
  min-height: 30px;
  margin: 1rem;
  align-self: center;
  text-align: center;
  line-height: 30px;
  //background-color: var(--secondary-color);
  border: 2px solid var(--text-color);
  border-radius: 5em;
  color: var(--text-color);
}

/* #howOldAreYou input {
    display: none;
} */

#howOldAreYou input {
  display: none;
}

#howOldAreYou input:checked + label {
  background-color: var(--text-color);
  color: var(--secondary-color);
}

#howOldAreYou input:checked + label p {
  color: var(--white);
}

#whichGender input {
  display: none;
}

#whichGender svg {
  fill: var(--text-color);
}

#whichGender input:checked + label svg {
  fill: var(--white);
}

#whichGender input:checked + label {
  background-color: var(--text-color);
}

#whichGender input:checked + label {
  color: var(--white);
}
#mainMotivation p {
  background-color: var(--secondary-color);
  width: fit-content;
  padding: 0.2em 1em;
  margin: 0.3rem;
  border-radius: 5px;
}

#mainMotivation .dragInput {
  padding: 0.3rem;
  color: var(--text-color);
  font-size: var(--font-size-15px);
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}

#sliderOptions svg {
  max-height: 30px;
  fill: var(--text-color);
}

#sliderOptions .slider-container {
  border: none;
}

#sliderOptions .slider-pin {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: 3px solid var(--text-color);
}

#sliderOptions label {
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  align-items: center;
  color: var(--text-color);
  font-size: var(--font-size-15px);
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}

#sliderOptions #improvement {
  display: flex;
  justify-content: space-around;
}

#sliderOptions #improvement input {
  display: none;
}

#sliderOptions #improvement label {
  display: block;
}

#sliderOptions #improvement input:checked + label svg {
  fill: var(--text-color);
}

/* #sliderOptions #improvement svg {
    max-height: 100px;
} */

#quizForm button {
  position: absolute;
  /* bottom: -40px; */
  height: 30px;
  border: none;
  background-color: var(--primary-color);
  margin: 0.3rem;
  border-radius: 5px;
  padding: 0.2em 1em;
  margin: 0.3em;
  color: white;
}

#quizForm button:disabled,
button[disabled] {
  background-color: #cccccc;
  color: #666666;
}

#quizBackButton {
  left: 16px;
}

#quizNextButton {
  left: 80px;
}

#quizSubmit {
  right: 40px;
}

#endresult p {
  margin-bottom: 30px;
}

#quizForm input:focus:checked + label p {
  background-color: var(--primary-color);
}

.quiz__navigation {
  border: none !important;
  width: fit-content;

  padding: 0.2em 2em;
  background-color: var(--secondary-color);
  display: flex;
  justify-content: flex-end;
}

nav {
  z-index: 10;
}
