<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/css/carousel.css">
  <title>Sportstimulering</title>
</head>
<body>

  <div class="card-carousel">
    <div class="card">
      <h1>Card 1</h1>
    </div>
    <div class="card">
      <h1>Card 2</h1>
    </div>
    <div class="card" id="3">
      <h1>Card 3</h1>
    </div>
  </div>

  <script src="/js/modules/carousel.js" type="module"></script>
</body>
</html>
