<% include ../partials/header %>

<h1>Sportstimulering</h1>

<% include ../partials/nav %>

<% include ../partials/hero %>

<main>
    <section id="st-created-event" class="display-flex-v st-section-radius">

    </section>
</main>

<% include ../partials/footer %>
