<% include ../partials/header %>

<h1>Sportstimulering</h1>

<% include ../partials/nav %>

<% include ../partials/hero %>

<main>
    <section id="st-create-event" class="display-flex-v st-section-radius">
        <h3>Create Event</h3>

        <form action="/created-event" class="display-flex-v" method="POST">
            <input type="text" name="event-name" placeholder="Title" required>

            <textarea name="event-description" placeholder="Description" required></textarea>

            <input type="text" name="event-location" placeholder="Location" required>

            <label for="">Date
                <input type="date" name="event-date" required>
            </label>

            <div>
                <label for="">From
                    <input type="time" name="event-from-time" required>
                </label>
    
                <label for="">Till
                    <input type="time" name="event-till-time" required>
                </label>
            </div>

            <button type="submit" class="st-button st-button-border">Submit</button>
        </form>
    </section>
</main>

<% include ../partials/footer %>
