<% include ../partials/header %>

<h1>Sportstimulering</h1>

<% include ../partials/nav %>

<% include ../partials/hero %>

<main>

    <section id="st-events" class="display-flex-v st-section-radius">
        <h3>Events</h3>

    </section>

</main>

<% include ../partials/footer %></section>