<% include ../partials/header %>

<h1>Sportstimulering</h1>

<% include ../partials/nav %>

<% include ../partials/hero %>

<main>

  <section id="st-homepage-quiz" class="display-flex-v">
    <h4>Which sport suits you the best?</h4>

    <a href="#" class="st-a-button-solid">Sports Configurator</a>
  </section>

  <section id="st-homepage-community" class="display-flex-v">
    <h3>Learn from others</h3>

    <div class="display-flex-v">
      <article class="display-flex-h">
        <img src="/images/profile-picture-1.png" alt="">

        <div>
          <p>Anni, 15</p>
          <p>"I join the dancing class every week two times. I love to see my friends there and spent a good time with them. I meet so many new friends there"</p>
        </div>
      </article>

      <article class="display-flex-h">
        <img src="/images/profile-picture-2.png" alt="">

        <div>
          <p>John, 78</p>
          <p>"To keep fit in older age, the Amsterdam sports program is wonderful. There is something for every age group!"</p>
        </div>
      </article>

      <article class="display-flex-h">
        <img src="/images/profile-picture-3.png" alt="">

        <div>
          <p>Carry, 36</p>
          <p>"After my children had so become enthusiastic about the sports program, I have now discoverd it for myself. Tennis is my new passion."</p>
        </div>
      </article>
    </div>
  </section>

  <section id="st-homepage-places" class="display-flex-v">
    <h3>Places to be</h3>

    <a href="#" class="st-a-button-border">See all places</a>
  </section>

  <section id="st-homepage-healthy-living" class="display-flex-v">
    <h3>Learn more about healthy living</h3>
    <p>There are so many factors we can consider to lead a healthier life.</p>

    <a href="#" class="st-a-button-border">Healthy Living Blog</a>
  </section>

</main>

<% include ../partials/footer %>
