<% include ../partials/header %>

<% include ../partials/nav %>

<h1>Sportstimulering</h1>

<main>

  <section id="st-homepage-hero" class="display-flex-v">
    <h2>Let's come togheter!</h2>
    <h2>Zuidoost connects</h2>
  </section>

  <section id="st-homepage-quiz" class="display-flex-v">
    <h2>Join our quiz now!</h2>
    <p>Find out togheter with us which suits you best!</p>

    <a href="#">Let's go!</a>
  </section>

  <section id="st-homepage-community" class="display-flex-v">
    <h2>Learn from others what is means to be part of a healthy community</h2>
    <p>We move you! Learn from others how we can go through life togheter healthy and fit and have a lot of fun! Whether footbal, gymnastics or hockey, with us everyone will find his sport.</p>

    <div class="display-flex-h">
      <article class="display-flex-v">
        <img src="" alt="">

        <h3>Anni, 15</h3>
        <p>"I join the dancing class every week two times. I love to see my friends there and spent a good time with them. I meet so many new friends there"</p>
      </article>

      <article class="display-flex-v">
        <img src="" alt="">

        <h3>John, 78</h3>
        <p>"To keep fit in older age, the Amsterdam sports program is wonderful. There is something for every age group!"</p>
      </article>

      <article class="display-flex-v">
        <img src="" alt="">

        <h3>Carry, 36</h3>
        <p>"After my children had so become enthusiastic about the sports program, I have now discoverd it for myself. Tennis is my new passion."</p>
      </article>
    </div>
  </section>

  <section id="st-homepage-map" class="display-flex-v">
    <h2>Place to be Find your play place close by.</h2>

    <a href="#">See places</a>
  </section>

  <section id="st-homepage-infographic" class="display-flex-v">
    <h2>Learn more about healthy living.</h2>
    <p>Did you know that it takes more than sport to lead a healthy life? There are so many factors we can consider to lead a healthier life. Check out <a href="#">Healthy Living Blog</a> and find out more</p>
  </section>

</main>

<% include ../partials/footer %>
