<% include ../partials/header %>

<h1>Sportstimulering</h1>

<% include ../partials/nav %>

<% include ../partials/hero %>

<main>

  <section id="st-homepage-quiz" class="display-flex-v">
    <h2>Zuidoost connects</h2>

    <h3>Let's come togheter & join the community!</h3>

    <p>Find out together with us which sport suits you best!</p>
    <p>Join our Sports Configurator </p>

    <a href="#" class="st-a-button">Let's go!</a>
  </section>

  <div class="st-divider"></div>

  <section id="st-homepage-community" class="display-flex-v">
    <h3>Learn from others what is means to be part of a healthy community</h3>

    <div class="display-flex-h">
      <article class="display-flex-v">
        <img src="" alt="">

        <h3>Anni, 15</h3>
        <p>"I join the dancing class every week two times. I love to see my friends there and spent a good time with them. I meet so many new friends there"</p>
      </article>

      <article class="display-flex-v">
        <img src="" alt="">

        <h3>John, 78</h3>
        <p>"To keep fit in older age, the Amsterdam sports program is wonderful. There is something for every age group!"</p>
      </article>

      <article class="display-flex-v">
        <img src="" alt="">

        <h3>Carry, 36</h3>
        <p>"After my children had so become enthusiastic about the sports program, I have now discoverd it for myself. Tennis is my new passion."</p>
      </article>
    </div>
  </section>

  <div class="st-divider"></div>

  <section id="st-homepage-places" class="display-flex-v">
    <h2>Place to be</h2>

    <p>Did you know that we have many sports fields where you can let off steam to your heart’s content? From football field to skatepark everything is here.</p>

    <a href="#" class="st-a-button">See all places</a>
  </section>

  <div class="st-divider"></div>

  <section id="st-homepage-healthy-living" class="display-flex-v">
    <h2>Learn more about healthy living</h2>
    <p>There are so many factors we can consider to lead a healthier life.</p>
    <p>Check out <a href="#">Healthy Living Blog</a> and find out more</p>
  </section>

</main>

<% include ../partials/footer %>
