<% include ../partials/header %>

<!--  -->

<% include ../partials/pop-up %>

<!--  -->

<h1>Sportstimulering</h1>

<% include ../partials/nav %>

<!--  -->

<% include ../partials/hero %>

<main>
	<section
		class="display--flex-v section section--highlight section--highlight-radius"
	>
		<h4 class="section--highlight-heading">
			Welke sport past het beste bij jou?
		</h4>

		<a href="/quiz" class="button button--solid">Sports Configurator</a>
	</section>

	<section class="display--flex-v section section--radius">
		<h3 class="section__h3--heading">Leer van anderen</h3>

		<div class="display--flex-v">
			<article class="display--flex-h quote">
				<img class="quote__img" src="/images/profile-picture-1.png" alt="" />

				<div>
					<p class="quote__block__name"><span class="st-p-bold"></span>Anni</span>, 15</p>
					<blockquote class="quote__block">
						<p>
							Ik neem twee keer per week deel aan dansles. Ik breng daar graag
							tijd door met mijn vrienden. Ik ontmoet ook zoveel nieuwe mensen
							daar.
						</p>
					</blockquote>
				</div>
			</article>

			<article class="display--flex-h quote">
				<img class="quote__img" src="/images/profile-picture-2.png" alt="" />

				<div>
					<p class="quote__block__name"><span class="st-p-bold">John</span>, 78</p>
					<blockquote class="quote__block">
						<p>
							Om fit te blijven op oudere leeftijd is het Amsterdams
							sportprogramma geweldig. Er is iets voor elke leeftijdsgroep!
						</p>
					</blockquote>
				</div>
			</article>

			<article class="display--flex-h quote">
				<img class="quote__img" src="/images/profile-picture-3.png" alt="" />

				<div>
					<p class="quote__block__name"><span class="st-p-bold">Carry</span>, 36</p>
					<blockquote class="quote__block">
						<p>
							Nadat mijn kinderen zo enthousiast waren geworden over het
							sportprogramma, heb ik het nu ook voor mezelf ontdekt. Tennis is
							mijn nieuwe passie.
						</p>
					</blockquote>
				</div>
			</article>
		</div>
	</section>

	<section class="display--flex-v section section--padding-0">
		<h3 class="section__h3--heading">Activiteiten</h3>

		<a class="event__link" href="/event/">
			<article class="event">
			  <div
				class="event__content overlay"
				style="background-image:url(/images/homepage-hero-image.png)"
			  >
				<h4 class="event__h4 event__h4--name">locatie</h4>
				<p class="event__time">
				 tijd
				</p>
				<h4 class="event__h4 event__h4--title">titel</h4>
			  </div>
			</article>
		  </a>
		<a href="/events" class="button button--ghost button--top">Zie alle activiteiten</a>
	</section>
</main>

<% include ../partials/footer %>
