<% include ../partials/header %>

<!--  -->

<% include ../partials/pop-up %>

<!--  -->

<h1>Sportstimulering</h1>

<% include ../partials/nav %>

<!--  -->

<% include ../partials/hero %>

<main>
  <section id="st-homepage-quiz" class="display-flex-v">
    <h4>Welke sport past het beste bij jou?</h4>

    <a href="/quiz" class="st-button st-button-solid">Sports Configurator</a>
  </section>

  <section id="st-homepage-community" class="display-flex-v st-section-radius">
    <h3>Leer van anderen</h3>

    <div class="display-flex-v">
      <article class="display-flex-h">
        <img src="/images/profile-picture-1.png" alt="" />

        <div>
          <p><span class="st-p-bold">Anni</span>, 15</p>
          <blockquote>
            <p>
              Ik neem twee keer per week deel aan dansles. Ik breng daar graag
              tijd door met mijn vrienden. Ik ontmoet ook zoveel nieuwe mensen
              daar.
            </p>
          </blockquote>
        </div>
      </article>

      <article class="display-flex-h">
        <img src="/images/profile-picture-2.png" alt="" />

        <div>
          <p><span class="st-p-bold">John</span>, 78</p>
          <blockquote>
            <p>
              Om fit te blijven op oudere leeftijd is het Amsterdams
              sportprogramma geweldig. Er is iets voor elke leeftijdsgroep!
            </p>
          </blockquote>
        </div>
      </article>

      <article class="display-flex-h">
        <img src="/images/profile-picture-3.png" alt="" />

        <div>
          <p><span class="st-p-bold">Carry</span>, 36</p>
          <blockquote>
            <p>
              Nadat mijn kinderen zo enthousiast waren geworden over het
              sportprogramma, heb ik het nu ook voor mezelf ontdekt. Tennis is
              mijn nieuwe passie.
            </p>
          </blockquote>
        </div>
      </article>
    </div>
  </section>

  <section id="st-homepage-places" class="display-flex-v">
    <h3>Activiteiten</h3>

    <article class="st-article-general">
      <p class="st-p-bold">A place for the cool kids</p>

      <img src="/images/skatepark.png" alt="" />

      <a href="#" class="st-button st-button-solid-yellow"
        >Skatepark Bijlmeer</a
      >

      <ul>
        <li>Nelson Mandelapark</li>
        <li>Skateboard, BMX, inline</li>
      </ul>
    </article>

    <article class="st-article-general">
      <p class="st-p-bold">Refresh needed?</p>

      <img src="/images/swimming-pool.png" alt="" />

      <a href="#" class="st-button st-button-solid-yellow"
        >Zwembad Drostenburg</a
      >

      <ul>
        <li>Drostenburg 1-4 , 1102 AB Amsterdam</li>
        <li>Skateboard, BMX, inline</li>
      </ul>
    </article>

    <a href="#" class="st-button st-button-border">Zie alle activiteiten</a>
  </section>

  <section id="st-homepage-healthy-living" class="display-flex-v">
    <h3>Meer informatie over gezond leven</h3>
    <p>
      Er zijn zoveel factoren die we kunnen overwegen om een gezonder leven te
      leiden.
    </p>

    <a href="#" class="st-button st-button-border">Healthy Living Blog</a>
  </section>
</main>

<% include ../partials/footer %>
