<% include ../partials/header %>

<h1>Sportstimulering</h1>

<% include ../partials/nav %>

<% include ../partials/hero %>

<main>
    <section id="st-login" class="display-flex-v">
        <a href="/sportprovider">Sign in as a Sportprovider</a>
        <a href="/user">Sign in as a User</a>
    </section>
</main>


<% include ../partials/footer %>