<% include ../partials/header %>

<h1>Sportstimulering</h1>

<% include ../partials/nav %>

<% include ../partials/hero %>

<main>
    <section class="display-flex-v st-section-radius">
        <!-- <h3>Find your sport activity</h3> -->
        <h3><%= sport %></h3>
        <div>
            <ul class="filter-bar">
                <li>
                    <span class="selected">
                        <a href="#">Events</a>
                    </span>
                    <span>
                        <a href="/sportslist/clubs/<%=sport%>">Sport Clubs</a>
                    </span>
                </li>
            </ul>
        </div>
    </section>
    <section id="st-homepage-places">
        <article class="st-homepage-palace-article" id="sports-events">
            <img src="http://lorempixel.com/400/200/sports" alt="">
            <div>
                <a href="#" class="st-button st-button-solid-white">22 juni tot 23 juni</a>
                <a href="#" class="st-button st-button-solid-yellow">Wandel en Rolstoel driedaagse Bijlmeer</a>
                <ul>
                    <li>Nelson Mandelapark</li>
                    <li>Skateboard, BMX, inline</li>
                </ul>
            </div>
        </article>
        
        
        
    </section>
</main>

<% include ../partials/footer %>