<% include ../partials/header %>

<h1>Sportstimulering</h1>

<% include ../partials/nav %>

<% include ../partials/hero %>

<main>
    <section id="st-sportactivities" class="display-flex-v st-section-radius">
        <h3>Learn from others</h3>
        <div class="display-flex-v">
            <ul>
                <%keys.forEach(key => {%>
                <li class="letter-keys"><%=key%></li>
                <ul>
                    <%data[key].forEach(item2 => {%>
                        <li><a href="<%=item2%>"><%=item2%></a></li>
                        <%})%>
                    <%})%>
                </ul>
            </ul>
        </div>
    </section>
</main>

<% include ../partials/footer %>