<% include ../partials/header %>

<h1>Sportstimulering</h1>

<% include ../partials/nav %>

<% include ../partials/hero %>

<main>
    <section id="st-homepage-community" class="display-flex-v">
        <h3>Learn from others</h3>
        <div class="display-flex-v">
            <ul>
                <%keys.forEach(key => {%>
                <li><%=key%></li>
                <ul>
                    <%data[key].forEach(item2 => {%>
                        <li><%=item2%></li>
                        <%})%>
                    <%})%>
                </ul>
            </ul>
        </div>
    </section>
</main>

<% include ../partials/footer %>