<% include ../partials/header %>

<h1>Sportstimulering</h1>

<% include ../partials/nav %>

<% include ../partials/hero %>

<main>
    <section id="st-sportprovider-dashboard">
        <h3>Choose your action</h3>

        <div>
            <article>
                <h4>Add Event</h4>
                <p>Create an event that people can join.</p>
            </article>
            <article>
                <h4>Add Event</h4>
                <p>Create an event that people can join.</p>
            </article>
            <article>
                <h4>Add Event</h4>
                <p>Create an event that people can join.</p>
            </article>
            <article>
                <h4>Add Event</h4>
                <p>Create an event that people can join.</p>
            </article>
        </div>
    </section>

</main>

<% include ../partials/footer %>