<% include ../../partials/header %>

<h1>Sportstimulering</h1>
<% include ../../partials/nav-basic %>
<!-- <% include ../../partials/hero %> -->
<section class="custom-Hero--big"></section>
<section class="card-carousel">
	<% for (let index = 0; index < quizResult.length; index++) { %>

	<div class="card">
		<span><%= index+1 %></span>
		<h2><%= quizResult[index].sport.sport %></h2>
		<p><%= quizResult[index].sport.description %></p>
		<a
			href="/sportslist/clubs/<%= quizResult[index].sport.sport %>"
			class="button button--ghost button--top"
			>Bekijk de sportclubs</a
		>
	</div>

	<%}%>
</section>

<a href="#" class="carousel-controller"></a>

<% include ../../partials/footer %>
