#st-create-event form {
	text-align: left;
}

#st-create-event form label:first-of-type {
	margin-top: 0;
}

#st-create-event form label + p {
	margin-bottom: 1em;
}

#st-created-event {
	padding: 1.5em 0;
}

#st-created-event div {
	margin: 0 0 auto 0;
}
