.pop-up-content {
  max-width: 500px;
  margin: 0 auto;
  padding: 1em;
}

.pop-up-content article {
  padding: 1em;
  background: white;
  position: relative;
}

.pop-up-content article:not(:last-child) {
  border-bottom: solid 3px whitesmoke;
  margin-bottom: 1em;
}

.pop-up-content.empty {
  height: 100%;
}

.pop-up-content.empty::after {
  content: "Empty";
  color: white;
  display: block;
  margin-top: calc(50vh - 2em);
  width: 100%;
  opacity: 0;
  font-size: 3em;
  text-align: center;
  font-weight: bold;
}

#pop-up-toggle:checked ~ .pop-up .pop-up-content.empty::after {
  opacity: 0.75;
}
