aside {
    position: fixed;
    padding: 4em 1em 1em 1em;
    height: 100%;
    width: 80vw;
    top: 0;
    left: -1000px;
    background-color: var(--white);
    transition: 0.5s ease-in-out;
    z-index: 1;
}

aside ul:first-of-type {
    line-height: 2.5em;
}

aside ul:last-of-type {
    margin: auto 0 0 0;
    line-height: 2em;
}

aside ul li a {
    color: var(--text-color);
    font-size: var(--font-size-18px);
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
}