#st-homepage-quiz {
  background-color: var(--primary-color);
  text-align: center;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  z-index: 1;
}

#st-homepage-quiz h4 {
  margin-bottom: 1em;
}
