/* ---------- ROOT ---------- */
:root {
  ---black: #000000;
  ---white: #ffffff;
  ---primary-color: #efefef;
  ---secondary-color: #818181;
  ---text-color: #2d2d2d;
  ---font-size-16px: 1em;
  ---font-size-14px: 0.875em;
  ---font-size-12px: 0.750em;
}
